<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Blog{% endblock %}</title>
        {% block javascripts %}{% endblock javascripts %}
        {% block stylesheets %}{% endblock stylesheets %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
