{% extends 'LyraAdminBundle:List:index.html.twig' %}
{% set title = filter.criteria.post.title|default(null) %}
{% block title %}
    {{ grid.title|transchoice(title is empty ? 0 : 1, { '%post_title%' : title }, grid.transDomain) }}
{% endblock %}
{% block list_title %}
    <h1>{{ block('title') }}</h1>
{% endblock %}
