; Copy as parameters.ini in this same folder and customize
; with parameters of *your* test database and connection
[parameters]
    database_driver   = pdo_mysql
    database_host     = localhost
    database_name     = lyra_test
    database_user     = lyra_test
    database_password = lyra

    mailer_transport  = smtp
    mailer_host       = localhost
    mailer_user       =
    mailer_password   =

    locale            = en

    secret            = h557ti5lwn66vfl
